<h1><%= @employee.full_name %></h1>

<ul>
  <li><%= link_to "Edit", edit_employee_path(@employee) %></li>
  <li><%= link_to "Destroy", employee_path(@employee),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<h1>Add a Schedule</h1>

<%= render "schedule_form", employee: @employee %>

<h1>Existing Schedules</h1>

<% @employee.schedules.each do |schedule| %>
  <ul>
    <li><%= schedule.title %></li>
    <li><%= link_to "Edit Schedule", edit_employee_schedule_path(@employee, schedule) %></li>
    <li><%= link_to "Destroy", employee_schedule_path(@employee, schedule),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  </ul>
<% end %>
